@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --h1--size: clamp(2rem, 5vw, 4rem);
    --h2--size: clamp(1.75rem, 4vw, 3rem);
    --h3--size: clamp(1.5rem, 3vw, 2.5rem);
    --p--size: clamp(1rem, 2vw, 1.5rem);
    --small--size: clamp(0.75rem, 1vw, 1rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 0.5rem;
}

.header {
    grid-area: header;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-header {
    display: block;
    text-decoration: none;
    font-family: "EB Garamond", cursive;
    font-size: var(--h2--size);
    font-weight: bold;
    color: #2f2f2f;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-links .icon {
    color: #2f2f2f;
}

.nav {
    grid-area: nav;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 1rem 1rem 0;
}

.nav a {
    display: block;
    font-size: var(--p--size);
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease-out;
}
.nav a:first-child {
    border-radius: 1rem 1rem 0 0;
}
.nav a:last-child {
    border-radius: 0 0 1rem 1rem;
}

.nav a:hover {
    background-color: whitesmoke;
    color: #2f2f2f;
}

.main {
    background-color: #f5f5f5;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 15px;
    padding: 15px;
    text-align: center;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}
.img::after {
    content: "+";
    display: block;
    position: absolute;
    top: -5px;
    right: -8px;
    font-size: var(--h2--size);
    width: auto;
    height: auto;
    color: #2f2f2f;
}
.img img {
    object-fit: cover;
    border-radius: 50%;
}

.box-main h3 {
    font-size: var(--h3--size);
}

.box-main p {
    font-size: var(--p--size);
    color: #555;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    font-size: var(--p--size);
    background-color: #333;
    color: whitesmoke;
}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .nav {
        border-radius: 0;
        text-align: center;
    }
}